<!DOCTYPE html>
<html>
  <head>
    <lick rel="stylesheet" href='/stylesheet/style.css'>
  </head>
  <body>
    <h1><%=title %></h1>
    <h2><%=subtitle %></h2>
    <p>Bienvenidos</p>
  </body>
</html>
